<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="DB_WebRep" connectionString="Data Source=DESKTOP-98FEVNO;Initial Catalog=DB_WebRep;Persist Security Info=True;User ID=sa;Password=ybx571944791"/>
  </connectionStrings>
</configuration>
