<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
    <directoryBrowse enabled="false" />
    <staticContent>
      <mimeMap fileExtension=".cshtml" mimeType="text/html" />
    </staticContent>
    <defaultDocument>
      <files>
        <remove value="Default.asp" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="iisstart.htm" />
        <remove value="Default.htm" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>